/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes move {
  from {
    inset-inline-start: -20px;
  }
  to {
    inset-inline-start: -16px;
  }
}

.heart .contour {
  transition: fill 0.1s linear;
}

.heart .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.heart:hover .core {
  fill: var(--accent-color);
}

.heart .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.heart:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--sparks-fill);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-fill);
  transition: fill 0.3s linear 0.03s;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
  fill: var(--sparks-fill);
}

.like-icon.is-liked .heart {
  animation: scale 0.3s ease-in alternate 0.1s;
  transform-origin: center;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: opacity 0.3s ease-in alternate 0.3s;
  transform-origin: center;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
